.button {
  display: inline-block;
  position: relative;
  margin-top: 3vw;
  background: #eee;
  padding: 2.5vw 5vw;
  font-size: 6vw;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  color: white;
  font-family: "Carters";
  text-transform: uppercase;
  border-radius: 1vw;
  transition: all 0.05s ease-out;
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.6);
  pointer-events: all;
  white-space: nowrap;

  background: rgb(128, 76, 27);
  background: linear-gradient(
    138deg,
    rgba(128, 76, 27, 1) 0%,
    rgba(128, 76, 27, 1) 9%,
    rgba(212, 164, 66, 1) 35%,
    rgba(161, 104, 33, 1) 63%,
    rgba(173, 140, 36, 1) 100%
  );

  &:active {
    transform: translateY(3px);
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.7);

    &:before {
      border-color: rgba(255, 255, 255, 0.4);
    }
  }

  &:before {
    content: " ";
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: absolute;
    left: 1vw;
    top: 1vw;
    bottom: 1vw;
    right: 1vw;
    border-radius: 1vw;
    transition: all 0.05s ease-out;
  }
}

.default {
  @extend .button;
  border: 4px solid white;
  border-radius: 8px;

  &:before {
    content: none;
  }
}

.primary {
  @extend .button;
}

.secondary {
  @extend .button;
  background: rgb(23, 29, 41);
  background: linear-gradient(
    125deg,
    rgba(23, 29, 41, 1) 0%,
    rgba(23, 29, 41, 1) 8%,
    rgba(59, 74, 105, 1) 35%,
    rgba(23, 29, 41, 1) 72%,
    rgba(57, 72, 102, 1) 100%
  );
}
