.scanner {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: calc(50% - 10vw);
  width: 60vw;
  height: 60vw;
}

.scanPrompt {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: calc(50% + 50vw);
  width: 60vw;
  height: 60vw;
}

.scanFade {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.skip {
  position: absolute;
  right: 3vw;
  bottom: 3vw;
  padding: 2vw 3vw;
  font-size: 3vw;
  font-family: "Carters";
  color: #fff;
  border-radius: 2vw;

  &:active {
    background: rgba(0, 0, 0, 0.3);
  }
}
