.scanner {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  border: 3px dashed white;
}

.scannerWrapper {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
