.scanner {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: calc(50% - 10vw);
  width: 60vw;
  height: 60vw;
}

.scanPrompt {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: calc(50% + 50vw);
  width: 60vw;
  height: 60vw;
}

.scanFade {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
