@font-face {
  font-family: "Rubik";
  src: url("./Rubik/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Carters";
  src: url("./Carters\ Regular/Carters\ Regular.ttf") format("truetype");
}
