.banner {
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status {
  margin: 0 6px;
}

.questions {
  perspective: 300px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.questionContainer {
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.timer {
  position: absolute;
  right: 2.5vw;
  top: 2.5vw;

  svg {
    filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.4));
  }
}

.score {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  font-weight: bold;
  left: 50px;
  top: 45px;
}

.time {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  font-weight: bold;
  left: 50px;
  bottom: 22px;
}
