.root {
  position: absolute;
  z-index: 10;
  width: 88vw;
  left: 6vw;
  bottom: 10vw;
  perspective: 150vw;
}

.question {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  backface-visibility: hidden;
}

.questionBg {
  position: relative;
}

.questionText {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5vw 5vw 10vw 5vw;
  font-size: 4.5vw;
}

.questionActions {
  position: absolute;
  left: 50%;
  bottom: -8vw;
  transform: translate(-50%, -50%);
  width: 70%;
  display: flex;
  justify-content: space-around;
  font-size: 4.5vw;
}

.answer {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  backface-visibility: hidden;
}

.answerBg {
  position: relative;
}

.answerHeader {
  font-family: "Rubik";
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 19vw;
  transform: translate(-50%, -50%);
  font-size: 4vw;
}

.answerText {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  padding: 25vw 8vw 10vw;
  line-height: 1.4em;
  font-size: 3.5vw;
}

.answerActions {
  position: absolute;
  left: 50%;
  bottom: -8vw;
  transform: translate(-50%, -50%);
  width: 70%;
  display: flex;
  justify-content: space-around;
  font-size: 4.5vw;
}

.feedback {
  position: absolute;
  left: 50%;
  bottom: 20vw;
  width: 40vw;
  transform: translate(-50%, -50%);
  z-index: 30;
}
