.animations {
  transform-origin: 50% 50%;
}

.root {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: calc(100vw - 40px);
  pointer-events: all;
  position: fixed;
  bottom: 49vw;
  width: 84vw;
  left: 50%;
  transform: translate(-50%, 50%);
  transform-origin: 50% 50%;
  //background: url("../../media/paper.png");

  svg {
    width: 100%;
  }
}

.content {
  padding: 5vw 5vw 5vw 16vw;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}

.number {
  font-family: "Carters", sans-serif;
  position: absolute;
  left: 9vw;
  top: 9vw;
  font-size: 5vw;
  transform: translate(-50%, -50%);
}

.category {
  font-family: "Carters", sans-serif;
  position: absolute;
  font-size: 4.6vw;
  left: 9vw;
  bottom: 25vw;
  color: #aaa;
  transform-origin: left center;
  transform: rotate(-90deg);
}

.questionText {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2vw;
  font-size: 4vw;
}

.answers {
}

.answer {
  width: 100%;
  text-align: center;
  background: #fff center top;
  margin-bottom: 8px;
  cursor: pointer;
  padding: 3.5vw 2vw;
  border-radius: 3vw;
  position: relative;
  font-weight: 600;
  font-size: 3.3vw;
  line-height: 1.3em;
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.2);

  &:before {
    content: " ";
    position: absolute;
    left: 0.6vw;
    top: 0.6vw;
    width: calc(100% - 1.5vw);
    height: calc(100% - 1.5vw);
    border: 0.1vw solid #e5b450;
    border-radius: 2vw;
  }

  &--correct {
    background: rgba(100, 255, 100, 0.4);

    &:before {
      border-color: rgba(100, 255, 100, 0.7);
    }
  }

  &--incorrect {
    background: rgba(255, 100, 100, 0.7);

    &:before {
      border-color: rgba(255, 100, 100, 0.9);
    }
  }
}

.feedback {
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  transform: translateY(0);
  z-index: 500;
  pointer-events: none;
}

.feedbackImage {
  width: 40vw;
  height: 40vw;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

.feedbackTrue {
  @extend .feedbackImage;
  background-image: url("../../media/trueSymbol.png");
}

.feedbackFalse {
  @extend .feedbackImage;
  background-image: url("../../media/falseSymbol.png");
}
