.root {
  background: #ddd;
  width: 100vw;
  height: 100vh;
}

.canvas {
}

.actions {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 12px;

  button {
    padding: 12px 20px;
    box-sizing: border-box;
    flex: 1;

    & + button {
      margin-left: 8px;
    }
  }
}
