.item {
  width: 30%;
  float: left;
  margin: 1.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;

  svg {
    width: 100%;
  }

  &--highlighted {
    border: 0.5vw solid yellow;
  }
}

.quarter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
