@import url("/fonts/fonts.css");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  overflow: hidden;
}

a,
a:hover,
a:active,
a:visited {
  color: inherit;
}
