.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  flex: 1;
}

.label {
  margin-bottom: 3vw;
}

.input {
  padding: 8px 16px;
}
