.fade {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 150vw;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 1;
}

.detail {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 92vw;
  height: 92vw;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.playAgain {
  margin-top: 5vw;
  font-size: 4vw;
}

.close {
  position: absolute;
  right: 4vw;
  top: 4vw;
  width: 8vw;
  height: 8vw;
  margin-left: 2vw;
  padding: 0;
  border-radius: 50%;
  padding: 0.4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(169, 112, 38);
  background: linear-gradient(
    45deg,
    rgba(169, 112, 38, 1) 0%,
    rgba(198, 154, 67, 1) 100%
  );
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.3);
  border: 1vw solid white;

  svg {
    width: 50%;
  }

  &:active {
    opacity: 0.6;
  }
}

.card {
  position: absolute;
  left: 50%;
  top: 45%;
  width: 92vw;
  height: 92vw;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.cardClose {
  @extend .close;

  position: absolute;
  right: 7vw;
  top: 7vw;
}

.cardButton {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: -2vw;
  z-index: 120;
  font-size: 6vw;
}
