.container {
  width: 27%;
  display: inline-block;
  margin: 2%;
  position: relative;
  box-sizing: border-box;
  padding: 1% 1% 7% 1%;
}

.banner {
  position: absolute;
  width: 100%;
  z-index: 5;
  left: 50%;
  top: 3vw;
  transform: translate(-50%, -50%);
}

.quarterHole {
  position: relative;
  transition: transform 0.2s ease-out;
  transform: scale(1);

  &:active {
    transform: scale(0.9);
  }

  svg {
    width: 100%;
  }
}

.quarter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.count {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #cc9312;
  transform: translate(-50%, -50%);
  font-size: 3.8vw;
  font-family: "Carters";
}

.countEmpty {
  @extend .count;
  color: #ccc;
}

.action {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  font-size: 3vw;
}
