.container {
  flex: 1;
  position: relative;
  margin: 0vw 4vw 15vw;
  width: 100%;
  display: flex;
}

.panel {
  position: absolute;
  bottom: 16vw;
  left: 10vw;
  width: 80vw;
}

.progress {
  position: absolute;
  right: 8.5vw;
  bottom: 47vw;
  width: 23vw;
  z-index: 20;
}

.questions {
  flex: 1;
  position: relative;
  width: 100%;
}
